body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

table{
    border-style:solid;
    text-align:center;
    width:90%;
}

ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 90%;
            float: left;
        }

        li {
            margin: 0 3px 3px 3px;
            padding: 0.4em;
            padding-left: 1.5em;
            font-size: 17px;
            height: 80px;
        }
        th {
            width: 14%;
            background:#081645;
            color:#fff;
            border:solid;
        }
        tr {
            height: 50px;
            background: #eee;
            text-align: center;
        }
        
        tr:nth-child(even){background-color: #ddd}

        tr:hover{background-color:#777;
                 color: #fff;
        }


        td {
            width: 300px;
            height:auto;
            margin: 10px;
        }

       
